.search-item {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}
.search-item img {
  border-radius: 10px;
}

.search-item-details {
  margin-top: 5px;
}

.search-item-details p {
  margin: 10px 0;
  font-size: 13px;
}

.search-item-details h3 {
  font-weight: 540;
}

.search-item-details h5 {
  font-weight: 500;
}

#no-results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

#no-results .no-title {
  font-weight: 450;
  letter-spacing: 1px;
  margin-top: 28px;
  margin-bottom: 16px;
}

#no-results .no-msg {
  font-weight: 450;
  font-size: 14px;
  letter-spacing: .8px;
}

@media (max-width: 900px) {
  .search-item img {
    width: 100%;
  }

  .search-item {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 470px) {
  .search-item-details h3 {
    font-size: 14px;
    text-wrap: wrap;
  }

  #no-results .no-img {
    width: 230px;
  }

  #no-results .no-title {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
  }

  #no-results .no-msg {
    font-size: 12px;
  }

  .search-item-details h5 {
    display: none;
  }
}
