.play-video {
  flex-basis: 60%;
}

.play-video iframe {
  border-radius: 15px;
  width: 100%;
  height: 31.2vw;
}

.play-video h3 {
  margin-top: 10px;
  font-size: 22px;
  font-weight: 600;
}

.video-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #5a5a5a;
  font-size: 14px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.video-info img {
  width: 18px;
  margin-right: 6px;
}

.video-info button {
  font-size: 13px;
  border: 0;
  font-weight: 540;
  display: inline-flex;
  align-items: center;
  background: #e4e4e43b;
  border-radius: 25px;
  margin-left: 10px;
  padding: 8px 16px;
}

.video-info button:nth-child(1) {
  border-radius: 25px 0 0 25px;
  border-right: 1px solid #e4e4e4;
}

.video-info button:nth-child(2) {
  margin-left: 0;
  border-radius: 0 25px 25px 0;
  padding: 8px 12px;
}

.video-info button:hover {
  background: #c8c8c899;
}

.video-info hr {
  border: 0;
  height: 1px;
  background: #ccc;
  margin: 10px 0;
}

.publisher span {
  margin: 0;
}

.publisher {
  display: flex;
  align-items: center;
}

.publisher img {
  width: 40px;
  border-radius: 50%;
  margin-right: 15px;
}

.publisher div p {
  font-size: 18px;
  font-weight: 600;
  color: #000;
}

.publisher div span {
  font-size: 13px;
  color: #5a5a5a;
}

.publisher button {
  font-size: 16px;
  background: #dbd9d93b;
  color: #000;
  padding: 8px 15px;
  border-radius: 25px;
  border: 0;
  outline: 0;
  cursor: pointer;
  margin-left: 25px;
}

.publisher button img {
  width: 18px;
  margin-right: 5px;
}

.video-desc {
  margin: 15px 0;
}

.video-desc p {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 540;
  line-height: 20px;
}

.information {
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  background: #dbd9d93b;
}
.video-desc h4 {
  margin-top: 15px;
  font-size: 20px;
  color: #000;
}

.video-desc h5 {
  margin-bottom: 5px;
  font-size: 14px;
  color: #474646;
  font-weight: 600;
}

.comments {
  display: flex;
  align-items: flex-start;
  margin: 20px 0;
}

.comments img {
  border-radius: 50%;
  margin-right: 15px;
  margin-top: 12px;
  width: 40px;
}

.comments h3 {
  font-size: 14px;
  margin-bottom: 2px;
}

.comments h3 span {
  margin-left: 8px;
  font-size: 12px;
  font-weight: 500;
  color: #5a5a5a;
}

.comment-action {
  display: flex;
  align-items: center;
  margin: 6px 0;
  font-size: 14px;
}

.comment-action span {
  font-size: 12px;
  margin-left: 2px;
  transform: translateY(4px);
}

.toggle {
  background: transparent;
  display: block;
  border: 0;
  outline: 0;
  cursor: pointer;
  color: #5a5a5a;
  font-size: 14px;
  font-weight: 540;
  margin-top: 4px;
}

.toggle:hover {
  text-decoration: underline;
}

.comment-form {
  margin-top: 20px;
}

.comment-form button {
  float: right;
  background: transparent;
  margin-right: 15px;
  margin-top: 5px;
  font-size: 14px;
  color: #5a5a5a;
  font-weight: 540;
  border: 0;
  cursor: pointer;
}

.add-comment {
  display: flex;
  gap: 15px;
  align-items: center;
}

.add-comment img {
  width: 40px;
  border-radius: 50%;
}

.add-comment input {
  width: 100%;
  padding: 3px;
  background: transparent;
  outline: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.add-comment input::placeholder {
  font-size: 14px;
  font-weight: 540;
}

.comment-action img {
  border-radius: 0;
  width: 20px;
  margin-right: 5px;
}

.comment-action span {
  margin-right: 20px;
  color: #5a5a5a;
}

.comment-action p {
  margin-left: 15px;
  margin-top: 12px;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}

#loader {
  width: 30px;
  margin: auto 50%;
}

#line {
  display: none;
}

@media (max-width: 1004px) {
  .video-info button {
    display: none;
  }
  .video-info .save-btn {
    display: flex;
  }
  .publisher button {
    display: flex;
  }
}

@media (max-width: 900px) {
  .play-video {
    flex-basis: 100%;
  }
  .video-info button {
    display: inline-flex;
  }
  .video-info .save-btn {
    display: inline-flex;
  }
  .play-video iframe {
    width: 100%;
    height: 50vw;
  }
  #line {
    display: block;
  }
  #loader {
    display: none;
  }
}
@media (max-width: 580px) {
  .video-info button {
    display: none;
  }
  .video-info .save-btn {
    display: flex;
  }
  .publisher button {
    display: flex;
  }
}
@media (max-width: 440px) {
  .publisher button {
    display: none;
  }
}
