.play-container {
  background: #f9f9f9;
  padding: 0px 4% 0px 3%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 19px;
}

@media (max-width: 900px) {
  .play-container {
    padding-left: 3%;
    padding-right: 3%;
  }
}
